.song-image{
    width: 179px;
    height: 179px;
    flex: none;
}

.play-song-button{
    position: absolute;
    border-radius: 55px;
}

.pause-song-button{
    position: absolute;
    border-radius: 55px;
}

.hidden{
    visibility: hidden;
}