.song-image{
    width: 179px;
    height: 179px;
    flex: none;
}

.song-text{
    width: 179px;
}

.play-song-button{
    transform: translateY(-120px) ;
    border-radius: 95px;
}

.pause-song-button{
    transform: translateY(155px) ;
    border-radius: 55px;
}

.hidden{
    visibility: hidden;
}
