.detail-play-button{
    border-radius: 45px;
}

.liked{
    color: #f50;
}

.individual-song-container{
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    width: 1240px;
    height: 100%;
    background-color: #fff;
    padding-bottom: 46px;
}

.total-comments{
    margin-top: 5px;
    font-size: 14px;
}

.individual-song-container-detail{
    display: flex;
    flex-direction: column;
    width: 1240px;
    height: 100%;
    background-color: #fff;
    padding-bottom: 46px;
}

.song-bottom{
    width: 1240px;
    padding-top: 20px;
    padding-left: 30px;
    overflow-y: auto;
}

.genre-song-top{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    height: 26px;
    font-size: 16px;
    color: #FFFFFF;
    background: #999999
}




