.top-song-container{
    display: flex;
    width: 1240px;
    height: 380px;
    justify-content: space-between;
    background: linear-gradient(45deg, #e0dad8, #99988c);
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.song-title{
    font-size: 23px;
    background-color: #2a2827;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.wavesurfer-marker div:nth-of-type(2) span{
    opacity: 1;
    z-index: 10;
}
.wavesurfer-marker div:nth-of-type(2){
    margin-bottom: 15px;
}

.wavesurfer-marker div:nth-of-type(2) span:hover{
    opacity: 1;
}



.song-creator{
    font-size: 15px;
    background-color: #2a2827;
    color: #ccc;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    margin-top: 5px;
    width: fit-content;

}
.play-info{
    display: flex;
    gap: 5px;
}

.song-info-container{
    display: flex;
    justify-content: space-between;
}
.artist-song-info{
    display: flex;
    flex-direction: column;
}

.detail-play-button{
    width: 60px;
    height: 60px;
}
.left-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-song-image{
    display: flex;
    justify-content: flex-end;
}

.individual-song-image{
    width: 340px;
    height: 340px;
}

#wavesurfer{
    width:840px;
    height: 100px;
    
}

.time-show-container{
    display: flex;
    justify-content: flex-end;
}
.absolute-time-container{
    position: absolute;
    width: 840px;
    top: 30%;
}
.total-time-show{
    display: flex;
    top: 30%;
    z-index: 10;
    width: fit-content;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    background-color: #2a2827;
    color: #8c8c8c;
}

.current-time-show{
    position: absolute;
    z-index: 10;
    font-size: 10px;
    background-color: #2a2827;
    top:30%;
    color: #f50;
}