/* TODO Add site wide styles */

*{
    box-sizing: border-box;
    font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
body{
    overflow-x: hidden;
}

.login-title{
    font-size: 30px;
}

.splash-title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 24px;
    color: #333333
}

.splash-page-songs{
    display: flex;
    flex-direction: column;

}

.modal-close{
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: transparent;
    border: none;
}

.discover-songs{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.bottom-buttons-upload-edit{
    width: 100%;
    height: 67px;
    border-top: 1px solid #f2f2f2;
}

.upload-song-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: fit-content;
    box-shadow: 0 2px 12px -5px rgb(0 0 0 / 10%);
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
    overflow-y: auto;
    margin-bottom: 20px;
}

.discover-songs-container{
        padding-top: 30px;
        display: flex;
        width: 1240px;
        height: 100%;
        justify-content: center;
        overflow-y: auto;
        background-color: #fff;
        padding-bottom: 46px;
}

.upload-modal-container{
    overflow-y: auto;
    overflow-x: hidden;
}

.fa-xmark{
    font-size: 25px;
}
.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,94.9%,.9);
    backdrop-filter: grayscale(1);
    z-index: 999;
}
.image-form-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.error-text{
    color:#f50;
}

.song-image-edit{
    width: 260px;
    height: 260px;
}


.stream-songs{
    display: flex;
    overflow-y: auto;
    height: 90%;
    overflow-x: hidden;
}


.modal-container{
    position: absolute;
    width: 435px;
    height: 500px;
    left: 40%;
    top: 10%;
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 14px 25px 0;
}
.modal-container-edit{
    position: absolute;
    width: 870px;
    height: 80%;
    left: 25%;
    top: 10%;
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 35px 35px 0;
}

.modal-container-sign-in{
    position: absolute;
    width: 435px;
    height: 500px;
    left: 40%;
    top: 10%;
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 14px 25px 0;
}

.main-page-blur{
    background-color: hsla(0,0%,94.9%,.9);
}


@media screen and (max-width: 1200px){

    
}