.nav-bar{
    display: flex;
    background-color: #333;
    height: 46px;
    justify-content: center;
}

.user-dropdown{
    position: absolute;
    
}

.navbar-signin-button{
    display: flex;
    font-size: 13px;
    height:26px;
    width: 65px;
    margin-left: 16px;
    margin-top: 8px;
    margin-right: 14px;
    border: 1px solid #e5e5e5;
    font-weight: 100;
    background-color: transparent;
    border-radius: 3px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor:pointer;
}
.navbar-create-button{
    display: flex;
    font-size: 14px;
    height:26px;
    width: 120px;
    margin-top: 8px;
    margin-right: 13px;
    font-weight: 100;
    border: 1px solid #f50;
    background-color: #f50;
    border-color: #f50;
    border-radius: 3px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor:pointer;
}

.navbar-upload-button{
    display: flex;
    font-size: 13px;
    height:26px;
    width: 64px;
    margin-top: 8px;
    font-weight: 100;
    margin-right: 14px;
    border-radius: 3px;
    line-height: 20px;
    border: none;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    color: #ccc;
    cursor:pointer;
    text-decoration: none;
}

.navbar-link{
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    color: #ccc;
    font-size: 13px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 12px;
    font-weight: 100;
    cursor:pointer;
}

.navbar-link-home{
    width: 104px;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    color: #ccc;
    font-size: 13px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 12px;
    font-weight: 100;
    border-right:  1px solid #111
}
.navbar-link-about{
    width: 104px;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    color: #ccc;
    font-size: 13px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 12px;
    font-weight: 100;
    border-right:  1px solid #111
}

.navbar-link-discover{
    width: 104px;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    color: #ccc;
    font-size: 13px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 12px;
    font-weight: 100;
    border-right:  1px solid #111
}

.header-search{
    width: 406.17px;

}

.header-search-form{
    padding: 7px 10px 8px;
    width: 406.17px;

}


.search-bar.unauth{
    width: 392.17px;
    height: 28px;
    padding: 5px 7px 7px;
    color: #666;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    border: none;
    background-image: url('./images/SearchIcon1.png');
    background-repeat: no-repeat;
    background-position: right center;
}
.search-bar{
    width: 392.17px;
    height: 28px;
    padding: 5px 7px 7px;
    color: #666;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    border: none;
    background-image: url('./images/SearchIcon1.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.profile-name{
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    margin-left: 8px;
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 100;
}
.nav-bar-stuff{ width: 100%;}

.user-profile{
    display: flex;
    width: 185px;
    height: 48px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    float: left;
    padding: 12px 28px 12px 10px;
}

.user-image{
    width: 25px;
    border-radius: 15px;
    height: 25px;
}

.active{
    color: #fff!important;
    background-color: #111;
}

.fa-angle-down{
    color: #ccc;
    font-size: 12px;

}

.fa-ellipsis{
    color: #ccc;
    font-size: 27px;
}